@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

.main {
    margin:0;
    padding: 0;
    background-color: rgb(151, 190, 190);
    font-family: 'Cormorant', serif;
  }
  
  
.navigation {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
  }
  
.title {
    background-color: brown;
}

.portfolio {
    background-color: yellow;
}

.about{
    background-color: green;
}

.personal {
    background-color: orange;
}

.contact {
    background-color: pink;
}

.footer {
    background-color: aqua;
}


.navigation__name {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;

  }
  
.navigation__link__container {
    
  }
  
.navigation__links {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    
  }
  
.portfolio__cards {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

.portfolio__card {

}

.portfolio__image {
    width: 100%;
}


.about {
    &__photo {
        width: 100%;
    }
}


.personal {
  
}


.contact {


}

@media screen and (min-width: 501px) {
    .portfolio {
        background-color: lightyellow;
    }
    .portfolio__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    .portfolio__card {
        width: 32%;
        margin-bottom: 15px;

    }
}





