@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');




* {
    margin:0;
    padding: 0;
    background-color: rgb(70, 65, 66);
    font-family: 'Cormorant', serif;
}
  
  
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: 70, 65, 66;
  }
  
.title {
    &__name {
        font-size: xx-large;
}
    background-color: 70, 65, 66;
    padding: 10px;
}

.portfolio {
    background-color: 70, 65, 66;
}

.about{
    background-color: 70, 65, 66;
    padding:5px;
    margin: 5px;
}

.personal {
    background-color: 70, 65, 66;
}

.contact {
    background-color: 70, 65, 66
}

.footer {
    background-color: 70, 65, 66;
}


.navigation__name {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;

  }
  
.navigation__link__container {
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }
  
.navigation__links {
    display: flex;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    flex-direction: row;
    text-decoration: white;
    
  }
  
.portfolio__cards {
    list-style: none;
    padding: 0;
    margin: 0;
    
}


.portfolio__image {
    width: 100%;
}


.about {
    &__photo {
        width: 100%;
    }
}



.contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__contact {
        margin: 20px;
        padding:20px 30px;
        background-color: rgb(0, 0, 0);
        text-decoration: none;
        border: 2px solid rgb(255, 255, 255);
        font-style: normal white;

    }

}

@media screen and (min-width: 501px) {
    .portfolio {
        background-color: lightyellow;
    }
    .portfolio__cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

    }
    .portfolio__card {
        width: 32%;
        margin-bottom: 15px;

    }
}





