
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

/* Center website */
.main {
  max-width: 1000px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}






/*body {
    background-color: rgba(37, 35, 35, 0.932);
}

main {
    margin: 5%;
}

* { margin: 1%;
    padding: 0};

.job-info {
    display:grid;
    grid-template-columns: 1fr 1fr;

}

.project-cards {
    margin: 5%;
    padding: 0;
}


.project-cards {  
    height: 1vh;
    width: 8vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3px 3px;
    grid-auto-flow: row;
    grid-template-areas:
      "project1 project2 project3"
      "project4 project5 project6";
  }
  
  #project1 { grid-area: project1; }
  
  #project2 { grid-area: project2; }
  
  #project3 { grid-area: project3; }
  
  #project4 { grid-area: project4; }
  
  #project5 { grid-area: project5; }
  
  #project6 { grid-area: project6; }

  .card {
      height: 70%;
      width: 70%;
      &__image {
          height: 100px;
          width: 200px;
      }


  }

/* Style buttons */
/*.button {
    background-color: rgba(37, 35, 35, 0.932); /* Blue background */
    border: none; /* Remove borders */
    color: rgb(255, 255, 255); /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */

  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(194, 191, 36);
  }


/* about section image css */
.about {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 15px 10px;
    grid-auto-flow: column;
    justify-items: center;
    grid-template-areas:
      "Photo Text";
  }
  
  .Photo { grid-area: Photo; }
  
  .Text { grid-area: Text; }

  